PORT=5050
MONGO_URI=mongodb://127.0.0.1:27017/community_service_db
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=7d
DEFAULT_ADMIN_EMAIL=Communityserver@gmail.com
DEFAULT_ADMIN_PASSWORD=Cser@99

